{% extends 'main/base.html' %}
{% load custom_tags %}
{% block content %}
<div class="container my-5">
  <h1 class="text-center mb-5">О компании</h1>

  <section id="history" class="mb-5">
    <div class="row">
      <div class="col-md-6">
        <h2>История компании</h2>
        <p>Наша клиника – это место, объединяющее самых лучших врачей, качественные медицинские услуги и сервис, обеспечивающий максимальный комфорт и удобство пациентов. Мне хотелось создать медицинское учреждение, которое помимо лечения способно дать тепло и заботу, место, где пациента поймут и поддержат, дадут надежду и настроят на выздоровление. При этом мы сделали все возможное, чтобы оставаться в среднем ценовом сегменте и быть доступными для широких слоёв населения..</p>
        <p>Наша история — это история успеха, стремления к инновациям и заботы о каждом, кто обратился к нам за помощью.</p>
      </div>
      <div class="col-md-6">
        <img src="https://ak-d.tripcdn.com/images/0223x1200090kb0aqAFC7_R_960_660_R5_D.jpg" class="img-fluid rounded" alt="История компании">
      </div>
    </div>
  </section>

  <section id="mission" class="mb-5">
    <div class="row">
      <div class="col-md-6 order-md-2">
        <h2>Миссия и ценности</h2>
        <p>Наша миссия — обеспечить каждому пациенту высокий уровень медицинской помощи и заботы. Мы стремимся создавать дружественную и поддерживающую атмосферу, где каждый чувствует себя уверенно и комфортно.</p>
        <p>Наши ценности включают профессионализм, честность, индивидуальный подход и постоянное совершенствование. Мы верим, что только через развитие, обучение и инновации можно достичь по-настоящему качественного результата.</p>
      </div>
      <div class="col-md-6 order-md-1">
        <img src="https://i.pinimg.com/originals/a0/98/e5/a098e57f08fe55bf2ec8561d89401966.jpg" class="img-fluid rounded" alt="Миссия и ценности">
      </div>
    </div>
  </section>
    </div>
{% endblock %}